<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-road" aria-hidden="true"> <%= link_to "Logout", sign_out_path, remote: true %></span>
</button>
<h1 class="wall">Wall</h1>

<%= link_to "New Interest", new_pin_path, remote: true, class: "btn btn-default"  %>
