<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-road" aria-hidden="true"> <%= link_to "Logout", sign_out_path, remote: true %></span>
</button>
<h1 class="wall">Wall</h1>

<div style="margin-bottom: 20px;">
  <%= link_to "New Interest", new_pin_path, remote: true, class: "btn btn-default"  %>
</div>

<% @pins.in_groups_of(4, false) do |pins| %>
  <div class="row">
    <% pins.each do |pin| %>
      <div class="col-sm-12 col-md-3">
        <!-- <%= link_to (image_tag pin.image.url(:pin), class: "img img-responsive"), pin.link, target: '_blank' %> -->
        <%= link_to (image_tag pin.image.url(:pin), class: "img img-responsive"), pin_modal_path(id: pin.id), remote: true %>
      </div>
    <% end %>
  </div>
<% end %>
